{% extends "base.html" %}

{% block title %}Accueil Piz-la pizza{% endblock %}

{% block css_js %}<link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">{% endblock %}

{% block entete %}   
    <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Piz-la pizza">
    <div id="logo-salutation">  
        <span id="nom-pizzaria">Piz-la pizza</span>
        {% if session.get('utilisateurId') %}
            <span id="salutation">Bonjour {{ session.get('prenom') }}!</span>
        {% else %}
            <span id="salutation">Bienvenue!</span>
        {% endif %}
    </div>
{% endblock %}

{% block nav_buttons %}
    {% if session.get('utilisateurId') %}
        {% if session.get('role') == "client" %}
            <a href="{{ url_for('pizza.creerPizza')}}" class="bouton">Commander</a>
            <a href="{{ url_for('pizza.historique') }}" class="bouton">Historique</a>
        {% elif session.get('role') == "livreur" %}
            <a href="#" class="bouton">Livraisons</a>
        {% elif session.get('role') == "admin" %}
            <a href="#" class="bouton">Admin</a>
        {% endif %}
        <a href="{{ url_for('auth.deconnexion')}}" class="bouton">Déconnexion</a>
    {% else %}
        <a href="{{ url_for('auth.inscription') }}" class="bouton">Inscription</a>
        <a href="{{ url_for('auth.connexion')}}" class="bouton">Connexion</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="card1">
        <div id="card1-text">
            <h1>Savourez la Meilleure Pizza en Ville</h1>
            <p>Commandez vos pizzas préférées directement et suivez votre livraison en temps réel</p>
        </div>
    </div>

    <div id="card2">
        {% if session.get('role') == "client" %}
            <a href="{{ url_for('pizza.creerPizza')}}" class="bouton">Commencer maintenant</a>
        {% elif session.get('role') == "livreur" %}
            <a href="{{ url_for('auth.connexion')}}" class="bouton">Commencer maintenant</a>
        {% elif session.get('role') == "admin" %}
            <a href="{{ url_for('auth.connexion')}}" class="bouton">Commencer maintenant</a>
        {% endif %}
    </div>

    <div id="card3">
        <div id="card3-text">  
            <h2>Nos spécialités</h2>
            <p>Découvrez notre sélection de pizzas délicieuses préparées avec les meilleurs ingredients</p>
        </div>
    </div>

    <div id="card4">
        
        <div class="presentation-pizza">
            <div  id="pizza1">
                <img class="image-pizza" src="{{ url_for('static', filename='images/pizz1.jpg') }}" alt="Pizza Margherita">
            </div>
            <div class="description-pizza">
                <h3>Pizza Margherita</h3>
                <p>Sauce tomate, mozzarella, basilic frais</p>
            </div>
            <hr size="2" width="80%" color="#E0E0E0">
            <div class="prix-bouton">
                <div class="prix-pizza">
                    <p>15 $</p>
                </div>
                <a href="{{ url_for('auth.connexion')}}" class="bouton">Ajouter</a>
            </div>
        </div>

        <div class="presentation-pizza">
            <div  id="pizza2">
                <img class="image-pizza" src="{{ url_for('static', filename='images/pizz2.jpg') }}" alt="Pizza Margherita">
            </div>
            <div class="description-pizza">
                <h3>Pizza Margherita</h3>
                <p>Sauce tomate, mozzarella, basilic frais</p>
            </div>
            <hr size="2" width="80%" color="#E0E0E0">
            <div class="prix-bouton">
                <div class="prix-pizza">
                    <p>15 $</p>
                </div>
                <a href="{{ url_for('auth.connexion')}}" class="bouton">Ajouter</a>
            </div>

        </div>
        
        <div class="presentation-pizza">
            <div  id="pizza1">
                <img class="image-pizza" src="{{ url_for('static', filename='images/pizz3.jpg') }}" alt="Pizza Margherita">
            </div>
            <div class="description-pizza">
                <h3>Pizza Margherita</h3>
                <p>Sauce tomate, mozzarella, basilic frais</p>
            </div>
            <hr size="2" width="80%" color="#E0E0E0">
            <div class="prix-bouton">
                <div class="prix-pizza">
                    <p>15 $</p>
                </div>
                <a href="{{ url_for('auth.connexion')}}" class="bouton">Ajouter</a>
            </div>
        </div>

        <div class="presentation-pizza">
            <div  id="pizza1">
                <img class="image-pizza" src="{{ url_for('static', filename='images/pizz4.jpg') }}" alt="Pizza Margherita">
            </div>
            <div class="description-pizza">
                <h3>Pizza Margherita</h3>
                <p>Sauce tomate, mozzarella, basilic frais</p>
            </div>
            <hr size="2" width="80%" color="#E0E0E0">
            <div class="prix-bouton">
                <div class="prix-pizza">
                    <p>15 $</p>
                </div>
                <a href="{{ url_for('auth.connexion')}}" class="bouton">Ajouter</a>
            </div>
        </div>

        <div class="presentation-pizza">
            <div  id="pizza1">
                <img class="image-pizza" src="{{ url_for('static', filename='images/pizz5.jpg') }}" alt="Pizza Margherita">
            </div>
            <div class="description-pizza">
                <h3>Pizza quelque chose</h3>
                <p>Sauce tomate, mozzarella, basilic frais</p>
            </div>
            <hr size="2" width="80%" color="#E0E0E0">
            <div class="prix-bouton">
                <div class="prix-pizza">
                    <p>15 $</p>
                </div>
                <a href="{{ url_for('auth.connexion')}}" class="bouton">Ajouter</a>
            </div>
        </div>

        <div class="presentation-pizza">
            <div  id="pizza1">
                <img class="image-pizza" src="{{ url_for('static', filename='images/pizz6.jpg') }}" alt="Pizza Margherita">
            </div>
            <div class="description-pizza">
                <h3>Pizza Margherita</h3>
                <p>Sauce tomate, mozzarella, basilic frais</p>
            </div>
            <hr size="2" width="80%" color="#E0E0E0">
            <div class="prix-bouton">
                <div class="prix-pizza">
                    <p>15 $</p>
                </div>
                <a href="{{ url_for('auth.connexion')}}" class="bouton">Ajouter</a>
            </div>
        </div>

    </div>

{% endblock %}
