:root {
    --primary-color: #FF5722;        
    --primary-dark: #E64A19;         
    
    --background-light: #FFF8F5;     
    --background-white: #FFFFFF;     
    
    --text-dark: #1A1A1A;            
    --text-gray: #666666;            
    
    --header-bg: #FFFFFF;            
}



#card1{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card1-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card1-text p{
    margin-top: -3px;
    font-size: 1.2rem;
    color: var(--text-gray);
}

#card2{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}   

#card3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card3-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card3-text p{
    margin-top: -3px;
    font-size: 1.2rem;
    color: var(--text-gray);
}

#card4{
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.presentation-pizza{
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    border-radius: 3px;
}

.image-pizza{
    width: 270px;
    height: 270px;
    border-radius: 5px;
}

.prix-pizza{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 5px;
}

.prix-bouton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}